@import url('../colors.css');

.modalHeader {
    background-color: var(--primary-color) !important;
}

.modalTitle {
    color: var(--light-color) !important;
}

.modalBtn {
    margin: 2px 2px 2px 2px !important;
}

.modalSubmit {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}