:root {
    --primary-color: #E1525F;
    --secondary-color: #F5EDED;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
  }