.submitButton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #E1525F !important;
    border: none;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.cancelButton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #6c757d !important;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 16px;
    margin: 2%;
    margin-left: 3%;
}

.smallSubmitButton {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #E1525F !important;
    border: none;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 8px;
}

.submitButton:hover, .cancelButton:hover, .smallSubmitButton:hover{
    transform: scale(1.05);
    transition: transform 0.15s;
}