.card {
    transition: transform 0.15s;
}

.card:hover {
    transform: scale(1.03);
}

.cardImgTopContainer {
    position: relative;
}

.cardImgTop {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardButtons {  
    position: absolute;
    margin: 10px;
    top: 0;
    right: 0;
    z-index: 1; 
}
  
.cardTitle, .cardSubtitle {
    white-space: nowrap; /* Prevent from wrapping to the next line */ 
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
}
  
.cardText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

/* resources card specific css */