.square {
    width: 75px;  /* Make sure the width fills the container */
    padding: 75px; /* Padding-top as a percentage of the container's width makes the height equal to width */
    position: relative; /* Allows absolute positioning for content inside */
    margin: 5px;
}

.square-content {
    position: absolute;
    top: 5;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position {
    padding-top: 10em;
}