.square {
    width: 75px;
    padding: 75px;
    position: relative;
    margin: 5px;
}

.square-content {
    position: absolute;
    top: 5;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position {
    padding-top: 10em;
}

hr {
    border: none;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.event-details h1, .event-details h2, .event-details img {
    margin-bottom: 20px;
}

.event-details-col {
    padding-bottom: 20px;
}