header {
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}


.logo {
    max-width: 100px;
    height: auto;
}

.nav {
    background-color: #F5EDED;
}


.navItem {
    padding-right: 1.4rem
}

.navLink {
    color: #000000 !important;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.2s;
}

/* Change color on hover for nav links except current one */
.navLink:not(.activeNavLink):hover{
    color: #E1525F !important; 
}

/* Create box around the active nav link */
.activeNavLink {
    box-sizing: border-box; 
    border-radius: 8px; 
    background-color: #E1525F !important;
    color: #ffffff !important; 
}