@import url('../index.css');

.overallContainer {
    min-width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.carouselContainer {
    padding: 0; 
    position: relative;
    background: linear-gradient(to right, black, 20%, rgba(0, 0, 0, 0.7), 80%, black);
    height: 100vh;
    width: 100vw;
    border-bottom: solid 3px;
}

.carouselImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carouselGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, 20%, rgba(0, 0, 0, 0.7), 80%, black);
    z-index: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.animated {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 1.5s forwards;
}

.textOverlay {
    z-index: 10; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    max-width: 150px;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
}

.textOverlay h1{
    font-size: 4.3rem;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
    text-wrap: nowrap;
}

.textOverlay h4 {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1.2s;
}

.getStartedText {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1.7s;
}

.carouselText {
    color: white;
    text-align: left;
    font-weight: bolder;
    width: 35em;
}


.startButton {
    background-color: var(--primary-color);

    height: 60px;
    width: 160px;
    border: none;
    font-size: 1.5rem;

    opacity: 0;
    animation: fadeIn 1.0s forwards;
    animation-delay: 1.7s;

    transition: background-color 0.6s;
}

.startButton:hover, .startButton:focus{
    background-color: rgb(210, 31, 0);
    transition: background-color 0.6s;
}

.text {
    font-size: 20px;
    font-weight: 500;
}

.descContainer {
    min-height: 450px;
}

.danaContainer {
    min-height: 500px;
    background-color: #F5EDED;
}

.danaImg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.quoteContainer{
    min-height: 300px;
}

.joinContainer {
    min-height: 200px;
    background-color: #F5EDED;
}

.joinText {
    color: var(--primary-color);
}

.joinText:hover, .joinText:focus{
    color: rgb(210, 31, 0);
    transition: background-color 0.6s;
}